*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#beb2c8;
}

body {
    background-color: #1b1f3b;
}

h5, h3, img {
    color: #d7d6d6;
}

html, body, #root {
    height: 100%;
}


.profileIcon {
    border-radius: 50%;
    border: 8px solid #454ade;
    transition: border .3s;
}

.profileIcon:hover {
    border: 8px solid #333b70;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #454ade;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: #051c85;
}

#profileIcon {
    margin: 100px 0;
}

hr {
    margin: 86px 0 20px 0;
    outline: 0;
    border:none;
    border-top: 2px solid #454ade;
    width:50px;
}

h3 {
   font-size: 26px; 
   padding-bottom: 45px;
}

ul {
    list-style-type: none;
}

.content {
    margin: 0 10vw;
    padding: 0 46px 46px 46px;
    background-color: #202546;

    border-radius: 40px;
}

.header {
    margin: 20px;
    padding:10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1f3b;
    position: sticky;
    top: 0;
}

box {
    display:flex;
    align-items: center;
}

.avatar {
    padding-right:36px;
}


svg {
    fill: #454ade;
    transition: fill .3s;
}
svg:hover{
    fill: #333b70;
}

.twitter {
    margin-right:30px;
    text-decoration: none;
}

footer {
    text-align: center;
    margin: 20px 0;
}
